{{model.name}}
<button class="buttonRemoveContact" {{action 'actionRemoveContact' model.id}}>Remove</button>
<hr>
Name: {{model.name}} <img src="/edit.png" title="Edit" {{action 'actionEdit' 'Name'}}>
{{input type="text" value=editName id="editName" class="inputHide"}}
<button id="editNameButton" {{action 'actionSave' 'Name' 'name' model.id editName}}  class="inputHide">Save</button> <br>

Occupation: {{model.occupation}} <img src="/edit.png" title="Edit" {{action 'actionEdit' 'Occupation'}}>
{{input type="text" value=editOccupation id="editOccupation" class="inputHide"}}
<button id="editOccupationButton" {{action 'actionSave' 'Occupation' 'occupation' model.id editOccupation}}  class="inputHide">Save</button> <br>

Born: {{model.born}} <img src="/edit.png" title="Edit" {{action 'actionEdit' 'Born'}}>
{{input type="text" value=editBorn id="editBorn" class="inputHide"}}
<button id="editBornButton" {{action 'actionSave' 'Born' 'born' model.id editBorn}}  class="inputHide">Save</button> <br>
